<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名のニックネームを出力する -->
      <%= message.user.nickname %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したタイトルを記述する -->
      <%= message.title %>
      <!-- 投稿したものの説明を記述する -->
      <%= message.explanation %>
      <!-- 投稿したもののジャンルを記述する -->
      <%= message.category.name %>
      <!-- 投稿したものの都道府県を記述する -->
      <%= message.prefectures.name %>
      <!-- 投稿したものの市区町村を記述する -->
      <%= message.municipalities %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
</div>