<div class="contents">
  <p class="nickname"><%= @nickname %>さんの投稿一覧</p>
  <%= link_to 'トップページへ戻る', root_path %>
  <% @messages.each do |message| %>
  <% if message.image.attached? && message.title %>
    <p class="image"><%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' %></p>
      <p class="txet"><%= message.title %></p>
      <p class="txet"><%= message.category.name %></p>
      <p class="txet"><%= message.prefectures.name %></p>
      <p class="txet"><%= message.municipalities %></p>
    <% end %>
  <% end %>
</div>